div#interface {
	width:0px;
	background-color:#ffffff;
        text-align: center;
        
}
header#cabecalho img#icone {
	position: absolute;
	left: 415px ;
	top: 0px;
	}
nav#menu{
        position:absolute;
        top:250px;
        left:40px;
        right: 20px;
        text-align: center;
}
nav#menu dl{
    float: left;
    text-decoration: none;
    text-align: center;
}
nav#menu dl dd{
    float: left;
    text-align: center;
    text-decoration: none;
}
 a{
     text-decoration: none;
 }
 div#tab{
     top: 250px;
     text-align: center;
     position: absolute;
     left: 400px;
 }
 dd.titulo{
     position: relative;
     left: 65px;
 }
  fieldset{
margin: -20px auto 0px auto;
box-shadow: 0px 0px 10px rgba(0,0,0,.5);
padding: 10px;
}
div#log{
    position: absolute;
    left: 150px;
    top: 200px;
    font-family: sans-serif;
    color: blue;
    border: 1px solid;
    border-color: #c0c0c0;
} 
div#log:hover{
    border-color: #B0C4DE;
}


div#log a {
	text-decoration: none;
	}
div#log a:hover {text-decoration: underline;  
 
	font-size:125%; 
	}